/* Reset browser formatting */
* {
  margin: 0;
  padding: 0;
}

/* Root pseudo class for variables */
:root {
  --main-header-color: #e287eb;
  --main-bg-color: #fff1fd;
  --main-text-color: #50404d;
  --src-code-color: #ca71da;
  --src-code-hover: #d958e0;
  --input-bg-color: #eed4f1;
  --btn-bg-color: #ed91ee;
  --btn-border-color: #ac62c7;
  --btn-text-color: #ffffff;
  --btn-focus-color: #f5aaf5;
  --main-border-color: #d7a2db;
}

body {
  background: var(--main-bg-color);
  font-family: 'Arial', sans-serif;
  margin: auto;
}

main {
  width: 90%;
  margin: auto;
}

h1 {
  color: var(--main-header-color);
  text-align: center;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: var(--src-code-color);
}

a:hover {
  color: var(--src-code-hover);
  text-decoration: underline;
}

footer {
  color: var(--main-text-color);
  margin: 15px;
  text-align: center;
}

.footer-fixer {
  min-height: 85vh;
}

input, textarea {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--main-border-color);
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--btn-focus-color);
}

.source-code-link-container {
  text-align: center;
  font-size: 22px;
  margin: 0 0 25px;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 8px;
  margin: 8px;
  width: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-header-color);
}

.btn:focus {
  color: var(--btn-focus-color);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px 1px var(--main-header-color);
}

/* Containers for dices and inputs */
.dice-display-container, .dice-input-container {
  text-align: center;
  max-width: 250px;
  margin: auto;
}

.dice {
  width: 100px;
  height: 100px;
  background: var(--main-header-color);
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  font-size: 45px;
  color: var(--main-bg-color);
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

input, button {
  cursor: pointer;
}

.dice-button-container {
  text-align: center;
  margin: 10px auto;
  width: 300px;
  max-width: 100%;
}

#firstDiceInputContainer, #secondDiceInputContainer {
  margin: auto;
  max-width: 120px;
  margin-top: 10px;
}

.dice-input {
  max-width: 75px;
  width: 75px;
  margin: 8px 3px 0 2px;
}

#secondDice, #secondDiceInputLabel, #secondDiceInput, #secondDiceInputContainer, #subButton, #currentRoundDisplay, #totalSumDisplay {
  display: none;
}

.counterDisplayContainer {
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentRoundDisplay, #totalSumDisplay {
  margin: 0 10px;
}